a, a:visited {
    color: white;
}

a:hover {
    color: #007bff;
}

.homepage-wrapper, .homepage-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

.homepage-box {
    box-shadow: 1px 1px 10px 3px black;
    border-radius: 10px;
    text-align: justify;
}

.commit-message {
    font-size: 1.5rem;
}