/* Example Box and Wrapper */

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
  
.exampleBoxImage {
    display: flex;
    height: auto;
    min-height: 375px;
    width: 425px;
    box-shadow: 1px 1px 10px 3px black;
    border-radius: 10px;
    justify-content: center;
    flex-direction: column;
}

.exampleBoxImage img {
    border-radius: 15px;
    height: 200px;
    width: auto;
}


/* Spoiler Image */

.spoiler-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.spoiler-cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    text-align: center;
    z-index: 1;
    border-radius: 15px;
    transform: scale(1.05);
}

.spoiler-image {
    display: block;
    width: 100%;
    height: auto;
}

.spoiler-container:not(.revealed) .spoiler-image {
    filter: blur(10px);
}

.spoiler-container.revealed .spoiler-cover {
    display: none;
}