/* Example Box and Wrapper */

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.todo-wrapper, .todo-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

.todo-box {
    width: 90%;
    box-shadow: 1px 1px 10px 3px black;
    border-radius: 10px;
    text-align: justify;
}

@media (max-width: 600px) {
    .exampleBoxImage {
        width: 100%;
    }
}

.todo-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 10px;
    gap: 1rem;
}

.todo-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    border-radius: 15px;
    padding-left: 15px;
    font-size: 1rem;
}

.completed-item {
    background-color: rgba(0, 107, 0, 0.3);
}

.completed-item div {
    text-decoration: line-through;
}

.remove-todo-button {
    line-height: 30px;
    font-size: 1rem;
    width: 30px;
    margin: 5px;
    background-color: red;
}

.complete-todo-button {
    line-height: 30px;
    font-size: 1rem;
    width: 80px;
    margin: 5px;
}