.header-wrapper {
    background-color: #1b1e24;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid white;
    box-shadow: 1px 1px 10px 3px black;
}

.header {
  height: 100%;
  object-fit: contain;
  margin-right: auto;
}

.header span {
  font-weight: 600;
}

/* Nav Menu and Burger Menu */

.navbar {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 3px black;
}

.nav-links {
  list-style: none;
  display: none;
  margin: 0;  
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #333;
  flex-direction: column;
  width: 200px;
  transition: transform 0.3s ease-in-out;
  border-radius: 15px;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 1px 1px 10px 3px black;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  display: block;
  border-radius: 15px;
  padding: 10px;
}

.nav-links a:hover {
  background-color: grey;
  color: white;
}

.nav-links.active {
  display: flex;  
  transform: translate(-15px, 15px);
}

.burger-menu {
    display: flex;
}

.burger-menu {
  flex-direction: column;
  cursor: pointer;
}

.burger-menu .line {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
}